.inputText {
  display: flex;
  justify-content: center;
}

.inputText input {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 15px;
  font-family: Woodstick;
  font-weight: 400;
  color: #377D6A;
  background: #efefef;
  border: 0;
  outline: 0;
}

.inputText input::-webkit-input-placeholder {
  font-family: Woodstick;
  color: #000;
  text-indent: 0;
  font-weight: 300;
}

.inputText input:focus, .inputText input:active {
  color: #377D6A;
  text-indent: 0;
  background: #fff;
}

.inputText input:focus::-webkit-input-placeholder, .inputText input:active::-webkit-input-placeholder {
  color: #aaa;
}