.toDoForm {
    display: flex;
    margin: 35px 0;
}

.toDoForm > div {
    width: 100%;
}

@media (max-width: 700px) {
    .toDoForm {
        display: block;
    }
    .toDoForm button {
        width: 100%;
        margin-top: 30px;
    }
}