.creditCalculatorForm > div {
    margin-top: 50px;
    margin-bottom: 50px;
}

.creditCalculatorForm button {
    width: 100%;
}

@media (max-width: 700px) {
    .creditCalculatorForm button {
        margin-bottom: 30px;
    }
}