.modalWindowBlock button:first-child {
    width: 200px !important;
}

.modalWindow {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: azure;
    background-color: rgba(0,0,0,.5);
}

.modalWindow div {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    margin-top: 13%;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 4px 4px 22px 0px rgba(255, 255, 255, 0.7);
}

.modalWindow div button {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}