.anchor {
    font-family: Radiotechnika;
    font-size: 25px;
    text-decoration: underline;
    color: #00BFFF;
}

.anchor:hover {
    text-decoration: underline overline;
    color: #00FFFF;
}

@media (max-width: 700px) {
    .anchor {
        font-size: 16px;
    }
}