.importantText {
    font-family: Radiotechnika;
    font-style: italic;
    font-size: 25px;
    line-height: 1.2em;
    color: aqua;
}

@media (max-width: 700px) {
    .importantText {
        font-size: 16px;
    }
}